<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@1.9.4"
            integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
            crossorigin="anonymous"></script>
    <title>Domuwa Gucci Trip</title>
</head>
<body>
<h1>Elo, Gucci Trip</h1>

{% include "nickname.html" %}

{% include "active-games.html" %}

{% include "create-game.html" %}

{% include "update-question.html" %}

</body>
</html>