<div id="update-question">
    <h2>Edytuj pytania</h2>
    <label for="game-to-edit">Wybierz grę, której pytania chcesz edytować</label>
    <select id="game-to-edit" name="game-to-edit">
        <option value="ego" selected>Ego</option>
        <option value="whos-most-likely">Who's most likely?</option>
    </select>
    <button type="submit">Wybierz pytania</button>

    <p>Pytania do wybranej gry:</p>
    {% if game_questions %}
    <ul>
        {% for question in game_questions %}
        <li>{{question.text}} {{question.category}}</li>

        {% if question_answers %}
        <ul>
            {% for answer in question_answers %}
            <li>{{answer.text}} {{answer.points}}</li>
            {% endfor %}
        </ul>
        {% else %}
        <p>To pytanie nie ma odpowiedzi</p>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>Brak pytań do wybranej gry</p>
    {% endif %}
</div>